{% include 'header.html' %}
<center>
    <br>
    <hr>
    <img src="{{object.image.url}}" alt="" width="400" height="300">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{object.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{object.quantity}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{object.price}} сом</h6>
    <p class="card-text">{{object.description}}</p>
    <p class="card-link">{{object.description}}</p>
    <p href="#" class="card-link">{{object.genre}}</p>
      <button><a href="/tvshow/{{object.id}}/update">Изменить данные</a></button>
      <button><a href="/tvshow/{{object.id}}/delete">Удалить фильм</a></button>
  </div>
</div>
    <br>
    <hr>
    <iframe src="{{show_id.video}}" frameborder="0" width="800" height="640"></iframe>

    <form action="/add-comment/" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="add">

    </form>

    <table border="2">
        <tr>
            <th>Дата рейтинга</th> <th>Оценка</th>
        </tr>
        {% for j in object.comment_object.all %}
        <tr>
            <td><h3>{{j.created_date}}</h3></td> <td><h3>&nbsp;&nbsp;&nbsp;{{j.rate}}</h3></td>
        </tr>
        {% endfor %}
    </table>

</center>
>

{% include 'footer.html' %}